<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>Login</title>
  <!-- Stylesheets -->
  <link href="{{ url_for('static',filename='auth/style/bootstrap.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='auth/style/font-awesome.css') }}">
  <link href="{{ url_for('static',filename='auth/style/style.css') }} " rel="stylesheet">
  <link href="{{ url_for('static',filename='auth/style/bootstrap-responsive.css') }}" rel="stylesheet">
  <!-- Favicon -->
<!--   <link rel="shortcut icon" href="{{ url_for('static',filename='auth/img/favicon/favicon.png') }}">
 --></head>
<body>
<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->   
            {% for message in get_flashed_messages(with_categories=True) %}
              <div class="alert alert-{{ message[0] }}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <b>{{ message[1] }}</b>
              </div>
            {% endfor %}
              <div class="widget-head">
                  <center><img src="{{ url_for('static',filename='auth/img/logo.png')}}" /></center>

              <!-- <center><img src="https://login.salesforce.com/img/logo198.png"  width="200" /></center> -->
              </div>
              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                    <form action="{{ url_for('auth.login') }}" method="post" class="form" role="form">
                              {{ form.csrf_token }}
                        <div class="form-group ">
                            <label class="control-label" for="email">Email</label>
                                    <input class="form-control" id="email" name="email" type="text" value="">
                              </div>  
                          <div class="form-group ">
                                  <label class="control-label" for="password">Password</label>
                                  <input class="form-control" id="password" name="password" type="password" value="">
                            </div> 
                          <div class="form-group ">
                                  <label class="control-label" for="verify_code">verify_code</label>
                                  <input class="form-control" id="verify_code" name="verify_code" type="text" value="">
                            </div>
                              <div class="form-group ">
                                  <label class="control-label" for="verify_code">验证码:</label>
                                 <a href="{{ url_for('auth.login') }}"> 
                                    <img src="{{ url_for('auth.verify_code') }}" href="www.baidu.com">
                                 </a>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input id="remember_me" name="remember_me" type="checkbox" value="y"> Keep me logged in
                              </label>
                            </div>
                            <input class="btn btn-default" id="submit" name="submit" type="submit" value="Log In">
                        </form>
                  </div>
                </div>
                <hr>
                <div class="widget-foot">
                    <p>忘记密码? <a href="{{ url_for('auth.password_reset_request') }}">点击重置</a>. or 
                    <a href="tencent://message/?uin=2399447849$Site=&amp;Menu=yes" style="color:white">
                                     <i class="fa fa-headphones"></i>  <span style="font-size: small">联系管理员

                                         <a href="tencent://message/?uin=2399447849$Site=&amp;Menu=yes" title="">
                                         <img border="0" src="http://wpa.qq.com/pa?p=2:471166308:51">
                                     </a>
                                     </span>
                              </a>
                     </p>
                  <!-- Not Registred? <a href="{{ url_for('auth.register')}}" >Register here</a> -->
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
<!-- JS -->
<script src="{{ url_for('static',filename='auth/js/jquery.js') }} "></script>
<script src="{{ url_for('static',filename='auth/js/bootstrap.js') }} "></script>
</body>
</html>
