<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>Login</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{  url_for('static',filename='opsplatform/css/sweetalert.css') }}"> 
  <link href="{{ url_for('static',filename='auth/style/bootstrap.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='auth/style/font-awesome.css') }}">
  <link href="{{ url_for('static',filename='auth/style/style.css') }} " rel="stylesheet">
  <!-- Favicon -->

  <link rel="shortcut icon" href="{{ url_for('static',filename='auth/img/favicon/favicon.png') }}">
</head>
<body>
<!-- Form area -->
<div class="admin-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->   
            {% for message in get_flashed_messages(with_categories=True) %}
              <div class="alert alert-{{ message[0] }}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <b>{{ message[1] }}</b>
              </div>
            {% endfor %}
              <div class="widget-head">
                  <center><img src="{{ url_for('static',filename='auth/img/logo.png')}}" /></center>

              <!-- <center><img src="https://login.salesforce.com/img/logo198.png"  width="200" /></center> -->
              </div>
              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                    <form action="{{ url_for('auth.login') }}" method="post" class="form" role="form">
                              {{ form.csrf_token }}
                        <div class="form-group ">
                                    <input class="form-control" id="email" name="email" type="text" value="就不告诉你~~~" placeholder="邮箱地址">
                              </div>  
                          <div class="form-group ">
                                  <input class="form-control" id="password" name="password" type="password" value="" placeholder="密码">
                            </div> 
                          <div class="form-group ">
                                  <input class="form-control" id="verify_code" name="verify_code" type="text" value="" placeholder="验证码"> <img src="{{ url_for('auth.verify_code') }}">
                            </div>
                              <div class="form-group ">
                            <div class="checkbox">
                              <label>
                                <input id="remember_me" name="remember_me" type="checkbox" value="y">保持登录 
                              </label>
                            </div>
                            <input class="btn btn-default" id="submit" name="submit" type="submit" value="Log In">
                             <input class="btn btn-success" id="submit" name="submit" type="submit" value="Demo浏览申请">
                            </div>
                        </form>

                        <div class="widget-foot">
                          <span style="font-size: small" >
                          忘记密码? <a href="{{ url_for('auth.password_reset_request') }}">点击重置</a>. or 
                            <a href="tencent://message/?uin=2399447849$Site=&amp;Menu=yes" style="color:white">
                              <i class="fa fa-headphones"></i>
                              </a>联系管理员
                             <a href="tencent://message/?uin=2399447849$Site=&amp;Menu=yes" title="">
                              <img border="0" src="http://wpa.qq.com/pa?p=2:471166308:51">
                            </a>    
                          </span>
                        </div>
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="footer">
              <span style="font-size: small" >
                  <div class="pull-right">  运维平台  ---  © 2018 - 2019 版权所有
                      <a href="http://blog.sctux.com/" target="_blank">OutMan</a>
                  </div>
              </span>
      </div>
    </div>
  </div>
<!-- JS -->
<script src="{{ url_for('static',filename='auth/js/jquery.js') }} "></script>
<script src="{{ url_for('static',filename='auth/js/bootstrap.js') }} "></script>
<script src="{{  url_for('static',filename='opsplatform/js/sweetalert.min.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/layer.js') }}"></script>
<script>
   if ({{ flag }} == 1) {
      error();
    }
    function error(){
      layer.msg('验证码不正确', {
        offset: 't',
        anim: 6,
        icon: 5
      }
      );
}
</script>
<script>
   if ({{ flag }} == 2) {
      error();
    }
    function error(){
      layer.msg('邮箱或地址验证错误，请重新输入!', {
        offset: 't',
        anim: 6,
        icon: 5
      }
      );
}
</script>
</body>
</html>
