<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>密码重置</title>
  <!-- Stylesheets -->
  <link href="{{ url_for('static',filename='auth/style/bootstrap.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='auth/style/font-awesome.css') }}">
  <link href="{{ url_for('static',filename='auth/style/style.css') }} " rel="stylesheet">
  <link href="{{ url_for('static',filename='auth/style/bootstrap-responsive.css') }}" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static',filename='auth/img/favicon/favicon.png') }}">
</head>

<body>

<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->
              <div class="widget-head">
                <center><img src="https://login.salesforce.com/img/logo198.png"  width="200" /></center>
                <i class="icon-lock"></i> 密码重置
              </div>
              <div class="widget-content">
               {% for message in get_flashed_messages(with_categories=True) %}
	            <div class="alert alert-{{ message[0] }}">
	                <button type="button" class="close" data-dismiss="alert">&times;</button>
	               <b>{{ message[1] }}</b>
	            </div>
	            {% endfor %}
                <div class="padd">
                  <!-- Login form -->
                {% import "bootstrap/wtf.html" as wtf %}
                {{ wtf.quick_form(form) }}
				        </div>
                </div>
                <hr>
                <div class="widget-foot">
                    <p>忘记密码? <a href="{{ url_for('auth.password_reset_request') }}">点击重置</a>.</p>

                  Not Registred? <a href="{{ url_for('auth.register')}}" >Register here</a>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>

<!-- JS -->
<script src="{{ url_for('static',filename='auth/js/jquery.js') }} "></script>
<script src="{{ url_for('static',filename='auth/js/bootstrap.js') }} "></script>
</body>
</html>
