{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
    <style>
    .test_box {
        min-height: 600px;
        max-height: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 3px;
        outline: 0;
        border: 1px solid #a0b3d6;
        font-size: 14px;
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        /*white-space:pre;*/
        white-space: pre-line;
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        -webkit-user-modify: read-write-plaintext-only;
        background-color: #161616;
        color:#1fe01f;
    }
    </style>
    <script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/jquery.sumoselect-2.0.0/sumoselect.css" rel="stylesheet">
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/jquery.sumoselect-2.0.0/jquery.sumoselect.min.js"></script>
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/select2-3.5.2/select2.css" rel="stylesheet">
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/select2-3.5.2/select2.js"></script>
{#    <script src="{{ url_for('static',filename='opsplatform/js/jquery-1.10.2.min.js')}}"></script>#}
{#    <link href="{{ url_for('static',filename='opsplatfo86rm/css/bootstrap.min.css')}}" rel="stylesheet">#}



            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>配置管理</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ url_for('main.index') }}">Home</a>
                        </li>

                        <li class="active">
                            <strong>应用部署</strong>

                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>主机选择</h5>

                        </div>
                        <div class="ibox-content">

                                 <input type="text" class="form-control" id="cmd_content" placeholder="Command">
                                <hr>
                                 <table>
                                     <tr>
                                      <form>
                                        <table>
                                            <tr>
                                                <td>
                                                    <select id="k1" size="28" style="width:160px;" multiple="multiple">
                                                        {% for each_host in data %}
                                                        <option value="{{ each_host['hostname'] }}" id="{{ each_host['id'] }}">{{ each_host['hostname'] }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <input class="btn btn-xs btn-primary" type="button" id="b1" value=" => " title="单个选择"/>
                                                    <input class="btn btn-xs btn-primary" type="button" id="b3" value="==>>" title="全部选择"/><br/>
                                                    <input class="btn btn-xs btn-success" type="button" id="b2" value=" <= "/>
                                                    <input class="btn btn-xs btn-success" type="button" id="b4" value="<<=="/>
                                                </td>
                                                <td>
                                                    <select id="k2" value="Ning4" size="28" style="width:160px;" multiple="multiple">
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                      </form>
                                    </td>
                                     <td>
                                       <form >
                                        <table>
                                            <tr>
                                                <td>
                                                 <input type="button" class="btn btn-xl btn-success"  value="执行" onclick="start_deploy()">
                                                </td>
                                            </tr>
                                        </table>
                                     </form>

                                   </td>
                                 </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>执行结果</h5>
                        </div>
                        <div class="ibox-content">

                        <div class="test_box" contenteditable="false"></div>

                    </div>
                </div>
            </div>
    </div>

<script language="javascript">
    $(document).ready(function(){
        $("#b1").click(function(){
            $("#k2").append($("#k1 option:selected"));
        });

        $("#b2").click(function(){
            $("#k1").append($("#k2 option:selected"));
        });

        $("#b3").click(function(){
            $("#k2").append($("#k1 option"));
        });

        $("#b4").click(function(){
            $("#k1").append($("#k2 option"));
        });
    });
    // 应用选择
        $(document).ready(function(){
        $("#bb1").click(function(){
            $("#kk2").append($("#kk1 option:selected"));
        });

        $("#bb2").click(function(){
            $("#kk1").append($("#kk2 option:selected"));
        });

        $("#bb3").click(function(){
            $("#kk2").append($("#kk1 option"));
        });

        $("#bb4").click(function(){
            $("#kk1").append($("#kk2 option"));
        });
    });
</script>
<script>
    function start_deploy() {
        var command = $(" #cmd_content ").val();
        // 获取选中的主机
        var host_arr = new Array(); //数组定义标准形式，不要写成Array arr = new Array();
        $("#k2 option").each(function () {
            host_arr.push($(this).val());

        });
        // 数据组装
        var data = {
            data: JSON.stringify({
                "host_arr": host_arr.join(','),
                "command_arr": command
            })
        };
           // 判断用户是否选择了主机或者应用
        if (host_arr.length == 0 || command.length == 0 ){
                swal({
                  title: "主机或命令不能为空，请重新输入或选择...",
                  timer: 1700,
                    type:'error',
                  showConfirmButton: false
                });
            exit;  // 如果为空，直接退出js
        }


        swal({
              title: "你确定在主机【 " + host_arr + "】" + "\n执行命令:" + "【" + command + "】",
              type: "warning",
              showCancelButton: true,
              showLoaderOnConfirm: true,
              confirmButtonColor: "#1ab394",
              confirmButtonText: "是的，执行",
              cancelButtonText: "我在想想吧...",
              closeOnConfirm: false,
              closeOnCancel: true  //关闭取消后还弹出让你确认的效果提示
            },
              function(isConfirm){
              if (isConfirm) {    // 如果确认就会去携带者hostname去后台处理
                     swal({
                          title: "好的，执行中...",
                          timer: 1000,
                          type:'success',
                          showConfirmButton: false
                          });

               $.ajax ({
                        type:'post',
                        data: data,
                        dataType:'json',
                        url:"{{ url_for("salt.run_salt_cmd") }}",
                        success:function (res) {
                            if (res.data == null){
                                swal(res.message,'T_T','error');
                            }
                             if (res.result) {
                                    var json_data = JSON.stringify(JSON.parse(res.data), null, 2);
                           	    if(json_data.indexOf("\\n")) json_data = json_data.replace(/\\n/g,"\n"); 
                                    $(".test_box").append(
                                            '执行命令: ',command,"\n",'目标主机: ',host_arr.join(','),"\n",
                                            '执行时间: ',res.run_time,"\n",'执行结果: ',"\n",json_data, "\n",
                                            '----------------------------------------------------------------------------------\n'
                                    );
                                    $(".test_box").scrollTop(50000000);

                                }
{#                            else {#}
{#                             alert('xxxxx');#}
{#                                console.log(res.message);#}
{#                            }#}
                }
                    });
              }
            });
    }
</script>



{#<!-- 通过jid获取结果-->#}
{#<script>#}
{#    function job_info(_this){#}
{#        var job_id = $(_this).attr("name");#}
{#        layer.msg("你要查看的jid为: "+job_id)#}
{#    }#}
{#</script>#}
{% endblock %}


