<!DOCTYPE html>
<html>
<meta name="csrf-token" content="{{ csrf_token() }}">
<head>
    <script src="{{  url_for('static',filename='opsplatform/js/csrf_token.js') }}"></script>
    <script src="{{ url_for('static',filename='opsplatform/js/layer.js')}}"></script>
    <script src="{{ url_for('static',filename='opsplatform/js/sweetalert.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='opsplatform/css/sweetalert.css')}}">
    <script src="{{ url_for('static',filename='opsplatform/js/jquery-1.10.2.min.js')}}"></script>
    <link href="{{ url_for('static',filename='opsplatform/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='opsplatform/css/bk.css')}}" rel="stylesheet">
</head>

<body class="gray-bg">
<style>
.test_box {
    min-height: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    border: 1px solid #a0b3d6;
    font-size: 14px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    -webkit-user-modify: read-write-plaintext-only;
    background-color: #161616;
    color:green;
}
</style>
    
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="king-container clearfix">
            {% if has_api %}
            <div class="panel panel-info m5">
                <div class="panel-heading"> 正在对主机 <code> {{ hostname|safe }} </code> 执行Linux命令; 请勿执行敲击回车执行,请点击按钮<code>Run</code></div>
                <div class="panel-body p5">
                     <form class="form-horizontal">
                        <div class="form-group clearfix">
                            <div class="col-sm-10">
                                <input type="text" class="form-control bk-valign-top"  placeholder="Linux Command" value="top -b1 -n1 |head -n 5" > </div>
                                <input type="button" class="btn btn-xl btn-success" value="Run" name="{{ hostname}}" onclick="cmd_demo(this)">
                        </div>
                    </form>
                    <div class="panel-body p5">
                        <div class="test_box" contenteditable="true"><br>执行命令: top -b1 -n1 |head -n 5
目标主机: sctux.com
执行时间: 2018-05-22 11:26:22
执行结果: 
top - 11:26:22 up 29 days, 20:33,  0 users,  load average: 0.00, 0.01, 0.00
Tasks: 139 total,   2 running, 137 sleeping,   0 stopped,   0 zombie
%Cpu(s):  0.8 us,  0.2 sy,  0.0 ni, 98.6 id,  0.4 wa,  0.0 hi,  0.0 si,  0.0 st
KiB Mem :  1032176 total,    83224 free,   860528 used,    88424 buff/cache
KiB Swap:  2314232 total,  1685592 free,   628640 used.    43528 avail Mem
----------------------------------------------------------------------------------
</div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="panel panel-danger m5">
                <div class="panel-heading"> SaltAPI信息未录入，无法进行对主机 {{ hostname|safe }} 发送执行命令</div>
            
            </div>
            {% endif %}
        </div>
    </div>
</body>


<script>
    function cmd_demo(_this) {
        swal("demo环境，已关闭命令执行")
    }
</script>
<script>
    var csrftoken = $('meta[name=csrf-token]').attr('content')
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
    function cmd(_this) {
        var cmd = $(":text").val();
        var hostname = $(_this).attr("name");
        var data = {
            data: JSON.stringify({
                "cmd": cmd,
                "hostname": hostname
            }),
        };
                $.ajax ({
                type:'post',
                dataType: 'json',
                url:"{{ url_for('salt.run_saltcmd')}}",
                data: data,
                success:function (res) {
                   if (res.result) {
                                $(".test_box").append(
                                        '执行命令: ',cmd,"\n",'目标主机: ',hostname,"\n",
                                        '执行时间: ',res.run_time,"\n",'执行结果: ',"\n",res.data,"\n",
                                        '----------------------------------------------------------------------------------\n'
                                );
                                $(".test_box").scrollTop(50000000)
                            }
                            else {
                                swal(res.message, cmd, 'error');
                            }
                }
            });
    }
</script>
</html>
