{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/jquery.dataTables.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/dataTables.bootstrap.js') }}"></script>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Dashboards</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="${SITE_URL}">Home</a>
                        </li>
                        
                        <li class="active">
                            <strong>维护操作</strong>
                        </li>
                    </ol>
                </div>
               
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>访问列表</h5>
                        </div>
                        <div class="ibox-content">
                            <table id="table2_demo2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                   <th>ID</th>
                                                   <th>IP</th>
                                                   <th>创建用户</th>
                                                   <th>创建时间</th>
                                                   <th>备注</th>
                                                   <th>操作</th>
                                                </tr>
                                            </thead>
                                                 <tbody>
                                                     {% for each_data in data %}
                                                        <tr>
                                                            <td>{{ loop.index }}</td>
                                                            <td>{{ each_data.ip}}</td>
                                                            <td>{{ each_data.create_user }}</td>
                                                            <td>{{ each_data.create_time }}</td>
                                                            <td>{{ each_data.remark }}</td>
                                                            <td><input type="button" class="king-btn king-danger" check_id="{{ each_data.id }}" onclick=del_ip(this) value="删除"></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot >
                                            <tr>
                                        </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
                   <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>添加白名单</h5>
                        </div>
                        <div class="ibox-content">
                          {% import "bootstrap/wtf.html" as wtf %}
                          {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
  $(function () {
    var language = {
      search: '搜索：',
      lengthMenu: "每页显示 _MENU_ 记录",
      zeroRecords: "没找到相应的数据！",
      info: "分页 _PAGE_ / _PAGES_",
      infoEmpty: "暂无数据！",
      infoFiltered: "(从 _MAX_ 条数据中搜索)",
      paginate: {
        first: '首页',
        last: '尾页',
        previous: '上一页',
        next: '下一页'
      }
    };
    $('#table2_demo2').dataTable({
      paging: true, //隐藏分页
      ordering: false, //关闭排序
      info: false, //隐藏左下角分页信息
      searching: true, //关闭搜索
      pageLength : 10, //每页显示几条数据
      lengthChange: true, //不允许用户改变表格每页显示的记录数
      language: language, //汉化

    } );
  });
</script>

 <script>
     function del_ip(_this) {

        var csrftoken = $('meta[name=csrf-token]').attr('content')
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })

        var check_id = $(_this).attr("check_id");
        var data= {
                data: JSON.stringify({
                    'check_id': check_id
                }),
            }

        swal({
          title: "您确定要删除该IP？",
          text: "删除后需要重新添加，请谨慎操作！",
          type: "warning",

          showCancelButton: true,
          showLoaderOnConfirm: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "是的，删除它",
          cancelButtonText: "我在想想吧...",
          closeOnConfirm: false,
          closeOnCancel: true  //关闭取消后还弹出让你确认的效果提示
        },
          function(isConfirm){
          if (isConfirm) {    // 如果确认就会去携带者hostname去后台处理

            $.ajax ({
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    url: "{{ url_for('main.access_iplist') }}",
                    success:function(res){   //将处理的结果进行判断，根据执行失败，成功现实的提示不同的内容
                        if (res.result) {
                            //console.log(res)

                            $("input[check_id="+check_id+"]").parents("tr").remove(); //获取要删除的那行节点
                            $(_this).parents("tr").remove();
                            swal(res.message, "^o^.", "success");
                            // location.reload()
                        }
                        else {
                            //console.log(res)
                            swal(res.message, ":)", "error");
                        }
                    }
                });
          }
        });
    }
    </script>
{% endblock %}

