{% extends 'base.html' %}
{% block title %}账户管理{% endblock %}
{% block content %}
<script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/jquery.dataTables.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/dataTables.bootstrap.js') }}"></script>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>CBT日常操作</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url_for('main.index')}}">Home</a>
                </li>

                <li class="active">
                    <strong>CBT UID白名单</strong>
                </li>
            </ol>
        </div>

    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
     
            <div class="col-lg-6">
                <div class="ibox float-e-margins">  
                    <div class="ibox-title">
                        <h5>当前白名单</h5>
                           <input type="button" class="btn btn-xs btn-danger" onclick="cleanuid()" value="清空" />
                           <input type="button" class="btn btn-xs btn-success" onclick="window.location.reload()" value="页面刷新" /> 
                    </div>
                    <div class="ibox-content">
<textarea style="outline: none; background-color: rgb(0, 0, 0); color: rgb(240, 240, 240); height: 400px; width: 650px; font-family:-webkit-body;font-size: large;">
{{ white_data }}
</textarea> 
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>固定白名单(参考)</h5>
                    </div>
                    <div class="ibox-content">
<textarea style="outline: none; background-color: rgb(0, 0, 0); color: rgb(240, 240, 240); height: 400px; width: 650px; font-family:-webkit-body;font-size: large;">
{{ fixed_data }}
</textarea>  
                    </div>
                </div>
            </div>
               <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>UID添加</h5>
                    </div>
                    <div class="ibox-content">
             {% import "bootstrap/wtf.html" as wtf %}
                {{ wtf.quick_form(form) }}

                    </div>
                    

                </div>
            </div>
          </div>
    </div>
    <script>
     function cleanuid() {
            // var csrftoken = $('meta[name=csrf-token]').attr('content')
            // $.ajaxSetup({
            //     beforeSend: function(xhr, settings) {
            //         if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            //             xhr.setRequestHeader("X-CSRFToken", csrftoken)
            //         }
            //     }
            // })
            $.ajax ({
                type:'POST',
                dataType: 'json',
                url:"{{ url_for('main.cleanuid') }}",
                success: function(res) {
                     if (res.result) {
                        layer.msg(res.message)
                     }
                     else{
                         swal(res.message,'','error')
                     }

                    }
                });
        }
    </script>  
{% endblock %}
