{% extends 'base.html' %}
{% block title %}管理界面{% endblock %}
{% block content %}
<script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>管理界面</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">Home</a>
                        </li>

                        <li class="active">
                            <strong>管理界面</strong>
                        </li>
                    </ol>
                </div>
            </div>
{% endblock %}
