{% extends 'base.html' %}
{% block title %}平台配置 - 接入平台API信息 - OPS{% endblock %}
{% block content %}
<script src="{{  url_for('static',filename='opsplatform/js/jquery.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/jquery.dataTables.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/dataTables.bootstrap.js') }}"></script>
<link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
<link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Api信息管理</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ url_for('main.index')}}">Home</a>
                        </li>

                        <li class="active">
                            <strong>接入平台API信息(第三方平台接入)</strong>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
             <div class="row">
             <div class="col-lg-2"></div>
             <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                  <div class="ibox-title">
                            <h5>接入平台API信息</h5>
                        </div>
                        <div class="ibox-content">
                            <div id="ct-chart2" class="ct-perfect-fourth">
                               <table class="table table-bordered table7_demo">
                                    <thead>
                                        <tr>
                                            <th>应用 </th>
                                            <th>API 用户</th>
                                            <th>API 密码</th>
                                            <th>API 添加时间</th>
                                            <th>API URL</th>
                                            <!-- <th>API Status</th> -->
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% if not data %}
                                            <div class="king-notice-box king-notice-sad center">
                                                <p style="color:red" class="king-notice-text">
                                                    尚未发现Api连接配置,请填写连接信息...
                                                </p>
                                            </div>
                                            {% endif %}
                                            {% for each_data in data %}
                                        <tr>
                                            <td>{{ each_data.app_name }}</td>
                                            <td>{{ each_data.api_user }}</td>
                                            <td>******</td>
                                            <td>{{ each_data.create_time }}</td>
                                            <td>{{ each_data.api_url }}</td>
                                            <td>
                                                <input type="button" class="btn btn-xs btn-danger" check_id="{{ each_data.id }}"  value="删除" onclick="del_raw(this)">
                                                <input type="button" class="btn btn-xs btn-info"  check_id="{{ each_data.id }}" value="连接测试" onclick="testapi(this)">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
             <div class="row">
             <div class="col-lg-2"></div>
             <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>第三方平台Api配置向导</h5>
                        </div>
                        <div class="ibox-content">
                               <div class="king-pearls king-pearls-sm row"> 
                                    <div class="king-pearl done col-xs-4">
                                        <span class="king-pearl-number">1</span>
                                        <span class="king-pearl-title">填写API配置</span>
                                    </div>
                                    <div class="king-pearl done col-xs-4">
                                        <span class="king-pearl-number">2</span>
                                        <span class="king-pearl-title">提交API配置</span>
                                    </div>
                                    <div class="king-pearl done col-xs-4">
                                        <span class="king-pearl-number">3</span>
                                        <span class="king-pearl-title">完成配置(测试连接)</span>
                                    </div>
                                </div>
                            <div id="ct-chart2" class="ct-perfect-fourth">
                                    {% import "bootstrap/wtf.html" as wtf %}
                                    {{ wtf.quick_form(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>

<!-- 删除api信息 -->
<script>
 function del_raw(_this) {
    var csrftoken = $('meta[name=csrf-token]').attr('content')
     console.log(csrftoken)
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
    var check_id = $(_this).attr("check_id");
    var data= {
            data: JSON.stringify({
                'check_id': check_id
            }),
        }
    swal({
      title: "您确定要删除该条API记录？",
      text: "删除后需要重新录入，请谨慎操作！",
      type: "warning",

      showCancelButton: true,
      showLoaderOnConfirm: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "是的，删除它",
      cancelButtonText: "我在想想吧...",
      closeOnConfirm: false,
      closeOnCancel: true  //关闭取消后还弹出让你确认的效果提示
    },

      function(isConfirm){
      if (isConfirm) {    // 如果确认就会去携带者hostname去后台处理
        $.ajax ({
                type: 'POST',
                data: data,
                dataType: 'json',
                url: "{{ url_for('main.api_manager_del') }}",
                success:function(res){   //将处理的结果进行判断，根据执行失败，成功现实的提示不同的内容
                    if (res.result) {
                        //console.log(res)

                        $("input[check_id="+check_id+"]").parents("tr").remove(); //获取要删除的那行节点
                        $(_this).parents("tr").remove();
                        swal(res.message, "^o^.", "success");
                        //location.reload()
                    }
                    else {
                        //console.log(res)
                        swal(res.message, ":)", "error");
                    }
                }
            });
      }
    });



}
</script>


<script>
      //  API 连通性检查
      function testapi(_this) {
          var check_id = $(_this).attr("check_id");

          var data = {
              data: JSON.stringify({
                  'check_id': check_id
              }),
          }
          var csrftoken = $('meta[name=csrf-token]').attr('content')
          console.log(csrftoken)
          // POST 传递参数

          $.ajax({
              type: 'POST',
              data: data,
              dataType: 'json',
              url: "{{ url_for('main.apitest') }}",
              success: function (res) {   //将处理的结果进行判断，根据执行失败，成功现实的提示不同的内容
                  if (res.result) {
                      //console.log(res.message)
                      layer.msg(res.message, {
                        anim: 6
                      });
                      // layer.msg(res.message)
                      //alert('test')
                      //ayer.msg('test')
                      //swal(res.result, "^o^.", "success");
                  }
                  else {
                      //console.log(res.message)
                      layer.msg(res.message, {
                        anim: 6
                      });
                      //swal(res.message, ":)", "error");
                  }
              }
          });
      }
</script>
{% endblock %}
