{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/jquery.dataTables.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/dataTables.bootstrap.js') }}"></script>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Dashboards</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="${SITE_URL}">Home</a>
                        </li>
                        
                        <li class="active">
                            <strong>维护操作</strong>
                        </li>
                    </ol>
                </div>
               
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">

                            <form action="{{ url_for('main.editor') }}" method="post">
                              {{ form.hidden_tag() }}
                                  <table>
                                    <tr>
                                      <td>{{ form.file_path(size=40, class="form-control", placeholder="/path/to/file") }}</td>
                                    </tr>
                                    <tr>
                                      <td>&emsp;</td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <button type="submit" class="btn btn-success" name="do_action" value="read">Read</button>
                                        <button type="submit" class="btn btn-primary" name="do_action" value="save">Save</button>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>&emsp;</td>
                                    </tr>
                                    {% if file_stat_dis %}
                                    文件：<code>{{file_path}}</code> 属性: 
                                    <pre>
                                        {{ file_stat }}
                                    </pre>
                                      {% endif %}  
                                    <tr>
                                      <td>{{ form.file_data(cols="200",rows="15",wrap="off",  class="form-control",style="outline: none; background-color: rgb(0, 0, 0); color: rgb(240, 240, 240);font-family:-webkit-body;font-size: large;", placeholder="Please input file path then click 'Read' button.") }}</td>
                                    </tr>
                                  </table>
                            </form>
                        </div>
                    </div>
                </div>
<!--                  <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>文件属性</h5>
                        </div>
                        <div class="ibox-content">
                            {% if file_stat_dis %}
                                    文件：<code>{{file_path}}</code> 属性: 
                                    <pre>
                                        {{ file_stat }}
                                    </pre>
                                      {% endif %}  
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
{% endblock %}

