{% extends 'base.html' %}
{% block title %}数据导入导出{% endblock %}
{% block content %}
<script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/jquery.dataTables.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/dataTables.bootstrap.js') }}"></script>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-8">
                <h2>数据导入导出</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="">线上服日常操作</a>
                    </li>
                    
                    <li class="active">
                        <strong>数据导入导出</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>数据导入导出</h5>
                        </div>
                        <div class="ibox-content">
                            <h3 class="lighter">
                            JP-CBT --> 线上
                          </h3>
                          <h4>请填写需要从<code>&lt;JP-CBT&gt;</code>导入数据到<code>&lt;线上&gt;</code>的表名,多个表则以空格隔开.<br>
                          导入完毕后自动升级数据版本号，并发布到online</h4>
                          {% import "bootstrap/wtf.html" as wtf %}
                          {{ wtf.quick_form(form) }}
                          <input type="button" class="king-btn mr10  king-success" onclick="rollback()" value="回滚" />

                        </div>
                    </div>
                </div>
            {% if dataversion_result %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>执行过程</h5>
                        </div>
                        <div class="ibox-content">
                        <textarea style="margin: 0px 0px 10px; height: 500px; width: 650px; font-family:-webkit-body;background-color: black;color: green">
------ Action Start ------
{{ input_result }}
{{ dataversion_result_online }}
------ Action End   ------
数据版本已自动升级...
</textarea>  
                        </div>
                    </div>

                </div>

            </div>
            {% endif %}
        </div>
    </div>

        <script>
        function rollback() {
                var csrftoken = $('meta[name=csrf-token]').attr('content')
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
          swal({
          title: "您确定要执行正式服配置回滚操作",
          // text: "执行后将进入维护状态，请谨慎操作！",
          type: "warning",

          showCancelButton: true,
          showLoaderOnConfirm: true,

          confirmButtonColor: "#DD6B55",
          confirmButtonText: "是的，回滚",
          cancelButtonText: "我在想想吧...",
          closeOnConfirm: false,
          closeOnCancel: true  //关闭取消后还弹出让你确认的效果提示
        },
      
          function(isConfirm){
          if (isConfirm) {
            $.ajax ({
                type:'POST',
                //url:"http://127.0.0.1:5000/rollback",
                url:"http://cbtops.jp.warshipgirls.com/rollback",
                
                 success: function(res) {
                     if (res.result) {
                        //layer.msg('success')
                        
                        swal({
                          title: res.message,
                          // timer: 5500,
                          imageUrl: "{{  url_for('static',filename='main/img/thumbs-up.jpg') }}",
                          // showConfirmButton: false
                        });

                     }
                     else{
                         swal({
                          title: res.message,
                          //timer: 5500,
                          imageUrl: "{{  url_for('static',filename='main/img/thumbs-up.jpg') }}",
                          //showConfirmButton: false
                        });
                     }
                    }
                });
                }
      });
    }
        
    </script>  
{% endblock %}

