{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
    <script src="{{ url_for('static',filename='opsplatform/js/echarts.js')}} "></script>
    <script src="{{ url_for('static',filename='opsplatform/js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='opsplatform/js/echarts-all.js')}} "></script>
        <script src="{{ url_for('static',filename='opsplatform/js/echarts-all.js')}} "></script>
    <script src="{{ url_for('static',filename='opsplatform/js/jquery.js') }}"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Dashboards</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ url_for('main.index')}}">Home</a>
                        </li>
                        <li class="active">
                            <strong>Dashboards</strong>
                        </li>
                    </ol>
                </div>
               
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>基础环境状态</h5>
                        </div>
                            <div class="ibox-content">
                            
                                <a class="btn btn-primary btn-rounded" >运行中</a>
                                <a class="btn btn-info btn-rounded">信息</a>
                                <a class="btn btn-danger btn-rounded">异常</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
<!--
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Stacked bar chart</h5>
                        </div>
                        <div class="ibox-content">
                            <div id="lineMain" style="height:300px"></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Horizontal bar chart </h5>
                        </div>
                        <div class="ibox-content">
                            <div id="ct-chart4" class="ct-perfect-fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Simple pie chart</h5>
                        </div>
                        <div class="ibox-content">
                            <div id="ct-chart5" class="ct-perfect-fourth"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Gauge chart </h5>
                        </div>
                        <div class="ibox-content">
                            <div id="ct-chart6" class="ct-perfect-fourth">
                        </div>
                        </div>
                    </div>
                </div>
            </div> -->


 
{% endblock %}


