{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
    <script src="{{ url_for('static',filename='opsplatform/js/echarts.js')}} "></script>
    <script src="{{ url_for('static',filename='opsplatform/js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='opsplatform/js/echarts-all.js')}} "></script>
        <script src="{{ url_for('static',filename='opsplatform/js/echarts-all.js')}} "></script>
    <script src="{{ url_for('static',filename='opsplatform/js/jquery.js') }}"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Dashboards</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ url_for('main.index')}}">Home</a>
                        </li>
                        <li class="active">
                            <strong>Dashboards</strong>
                        </li>
                    </ol>
                </div>
               
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="col-sm-12">
                <blockquote class="king-success" style="font-size:14px">

                 <br>以不落后为目标，同甘共苦同舟共济永不言弃，爱惜她尊重她理解她保护她，你愿意这样做吗？ <br>…………
                </blockquote>
            </div>
                       



            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>demo1</h5>
                        </div>
                            <div class="ibox-content">
                                <iframe src="https://play.grafana.org/d-solo/000000012/grafana-play-home?orgId=1&panelId=2" width="100%" height="200" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>demo2</h5>
                        </div>
                            <div class="ibox-content">
                                <iframe src="https://play.grafana.org/d-solo/000000012/grafana-play-home?orgId=1&panelId=3" width="100%" height="200" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                  <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>demo3</h5>
                        </div>
                            <div class="ibox-content">
                                <iframe src="https://play.grafana.org/d-solo/000000163/mixing-panels-without-legend?orgId=1&panelId=11" width="100%" height="200" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>demo4</h5>
                        </div>
                            <div class="ibox-content">
                                <iframe src="https://play.grafana.org/d-solo/000000012/grafana-play-home?orgId=1&panelId=4" width="100%" height="200" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
<!--
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Stacked bar chart</h5>
                        </div>
                        <div class="ibox-content">
                            <div id="lineMain" style="height:300px"></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Horizontal bar chart </h5>
                        </div>
                        <div class="ibox-content">
                            <div id="ct-chart4" class="ct-perfect-fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Simple pie chart</h5>
                        </div>
                        <div class="ibox-content">
                            <div id="ct-chart5" class="ct-perfect-fourth"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Gauge chart </h5>
                        </div>
                        <div class="ibox-content">
                            <div id="ct-chart6" class="ct-perfect-fourth">
                        </div>
                        </div>
                    </div>
                </div>
            </div> -->


 
{% endblock %}


