<html>
<head>
<title>51reboot</title>
<meta charset='utf-8'>
</head>

<body>
hello world

<div id="container" style="height: 400px; min-width: 310px"></div>
<script src="{{  url_for('static',filename='opsplatform/js/jquery.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/highstock.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/exporting.js') }}"></script>

<script>
$(function () {
    // 使用当前时区，否则东八区会差八个小时
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    $.getJSON('/data', function (data) {
        console.log(data)
        // Create the chart
        $('#container').highcharts('StockChart', {
        chart:{
        events:{

            load:function(){

                var series = this.series[0]
                console.log(this.series[0])
                setInterval(function(){
                $.getJSON('/data',function(res){

                    $.each(res,function(i,v){
                        series.addPoint(v)
                    })
                })
                },5000)
            }
        }
        },

            rangeSelector : {
                selected : 1
            },

            title : {
                text : '内存数据'
            },

            series : [{
                name : '本机内存',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });

});
</script>

</body>
</html>



