{% extends 'basic.html' %}
{% block title %}Dashboadr{% endblock %}
{% block content %}

    <aside class="right-side" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns="http://www.w3.org/1999/html">


        <section class="col-lg-12 connectedSortable ui-sortable">
            <div class="row">
             <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Zabbix Server 添加</h3>
                </div>


                <!-- /.box-header -->
                   <div class="box-body">
                               <div class="span9">
                   <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            Zabbix主机添加(批量)
                        </h4>
                    </div>
                    <h5>请先上传需要添加主机的文本文件<code>&lt;'hostlist.xls'&gt;</code>格式如下:</h5>
                    <h5>请务必保持文件格式如下所示:</h5><br>
                    <img src="{{ url_for('static',filename='assets/images/add.png') }}" alt="add host example" height="50px">

                <form action="" method=post enctype=multipart/form-data>
                      <p>
                          <input  type=file name=file>
                          <input type=submit value=upload>
                      </p>
                            {% for message in get_flashed_messages(with_categories=True) %}
                                <div class="alert alert-{{ message[0] }}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                   <b>{{ message[1] }} {{ cmd }}</b>
                                </div>
                        {% endfor %}
                </form>
{#                                                         <textarea style="margin: 0px 0px 10px; height: 505px; width: 100%; background-color: black;color: green">#}
{#{% for i in result %}  {{ i.strip('\n') }}#}
{#{% endfor %}#}
{#                        </textarea>#}
        </div>
                   </div>

              </div>
             </div>
            </div>
        </section>


    {% if result %}
           <section class="col-lg-6 connectedSortable ui-sortable">
            <div class="row">
             <div class="col-xs-12">
              <div class="box">


                 <div class="panel panel-primary">
        <div class="panel-heading">
         <h3 class="panel-title">执行结果 </h3>
            </div>
                <div class="panel-body">
                 <pre class="text-success bg-success">
                     {% for res in result %}
{{ res }}
                    {% endfor -%}
                 </pre>

                      </div>
                   </div>
                   </div>
              </div>
             </div>

        </section>
    {% endif %}
{#           <section class="col-lg-12 connectedSortable ui-sortable">#}
{#            <div class="row">#}
{#             <div class="col-xs-12">#}
{#              <div class="box">#}
{#                <div class="box-header">#}
{#                  <h3 class="box-title">Zabbix Server 添加</h3>#}
{#                </div>#}
{##}
{##}
{#                <!-- /.box-header -->#}
{#                   <div class="box-body">#}
{#                                               <textarea style="margin: 0px 0px 10px; height: 505px; width: 100%; background-color: black;color: green">#}
{#{% for i in result %}  {{ i.strip('\n') }}#}
{#{% endfor %}#}
{#                        </textarea>#}
{#                   </div>#}
{##}
{#              </div>#}
{#             </div>#}
{#            </div>#}
{#        </section>#}




    </aside>
{% endblock %}

