<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">主机名: {{ data['os_release'] }}</div>
      <div class="panel-body">
         <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                    {% if host_status %}
                    <td>状态: 运行中</td>
                    {% else %}
                    <td>状态: 离线</td>
                    {% endif %}
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>内网IP: <code>{{ data['private_ip'] }}</code></td>
                    <td>外网IP: <code>{{ data['external_ip'] }}</code></td>
                    <td>内存: <code>{{ data['mem_total'] }}M</code></td>
                </tr>
                <tr>
                    <td>内核版本: <code>{{ data['kernelrelease'] }}</code></td>
                    <td>系统版本: <code>{{ data['os_release'] }}</code></td>
                    <td>内核数量: <code>{{ data['num_cpus'] }}</code></td>
                </tr>


            </tbody>
        </table>
        <hr>
      </div>
    </div>
  </div>


</div>
