{% extends 'base.html' %}
{% block title %}CBT代码更新{% endblock %}
{% block content %}
<link href="{{  url_for('static',filename='main/css/sweetalert.css') }}" rel="stylesheet" type="text/css" />
<script src="{{  url_for('static',filename='main/js/sweetalert.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/jquery.dataTables.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/dataTables.bootstrap.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/layer.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>


        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-8">
                <h2>CBT代码更新</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="">CBT日常操作</a>
                    </li>
                    
                    <li class="active">
                        <strong>CBT代码更新</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>CBT代码更新</h5>
                        </div>
                        <div class="ibox-content">
                           

                          <input type="submit" class="king-btn mr10  king-success" onclick="updatecode()" value="更新代码" />

                        </div>
                    </div>
                </div>

        </div>
    </div>

     <script>
        function updatecode() {
            swal({
          title: "您确定要CBT代码更新操作",
          // text: "执行后将进入维护状态，请谨慎操作！",
          type: "warning",

          showCancelButton: true,
          showLoaderOnConfirm: true,

          confirmButtonColor: "#DD6B55",
          confirmButtonText: "是的，更新",
          cancelButtonText: "我在想想吧...",
          closeOnConfirm: false,
          closeOnCancel: true  //关闭取消后还弹出让你确认的效果提示
        },
          function(isConfirm){
          if (isConfirm) {
            $.ajax ({
                type:'POST',
                //url:"http://127.0.0.1:5000/rollback",
                url:"http://cbtops.jp.warshipgirls.com/updatecode",
                
                 success: function(res) {
                     if (res.result) {
                        //layer.msg('success')
                        
                        swal({
                          title: res.message,
                          // timer: 5500,
                          imageUrl: "{{  url_for('static',filename='main/img/thumbs-up.jpg') }}",
                          // showConfirmButton: false
                        });

                     }
                     else{
                         swal({
                          title: res.message,
                          //timer: 5500,
                          imageUrl: "{{  url_for('static',filename='main/img/thumbs-up.jpg') }}",
                          //showConfirmButton: false
                        });
                     }
                    }
                });
        }
       });
    }
    </script> 
 
{% endblock %}

