{% extends 'base.html' %}
{% block title %}CBT热更{% endblock %}
{% block content %}
<link href="{{  url_for('static',filename='main/css/sweetalert.css') }}" rel="stylesheet" type="text/css" />
<script src="{{  url_for('static',filename='main/js/sweetalert.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/jquery.dataTables.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/dataTables.bootstrap.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/layer.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>


        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-8">
                <h2>CBT热更</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="">CBT日常操作</a>
                    </li>
                    
                    <li class="active">
                        <strong>CBT热更</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>CBT热更</h5>
                        </div>
                        <div class="ibox-content">
                            <h3 class="lighter">
                            1.点击执行热更操作<br>
                            2.生成热更版本号<br>
                            3.复制填入文本框<br>
                            查看队列<a href="http://cbtops.jp.warshipgirls.com:15306/" target="_blank">links</a>
                          </h3>
                          
                          <!-- <input type="button" class="king-btn mr10  king-success" onclick="update()" value="点击执行cbt热更操作" /> -->
                          
                          <div id="ct-chart1" class="ct-perfect-fourth">
                            <button id="test3" class="btn btn-primary" >点击执行cbt热更操作</button>
                            <!-- <button id="test4" class="btn btn-info" >取消任务</button> -->

                            <h4 id='task_id_start'></h4> <a id='task_info'></a>
                            <h4 id='task_id_end'></h4> <a id='task_info'></a>
                                        <!-- <div class="progress progress-striped"> -->
                                            <!-- <div class="progress-bar progress-bar-primary" id="processbar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                <span id="aa"></span> -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                          </div>  
                          <hr>
                          {% import "bootstrap/wtf.html" as wtf %}
                          {{ wtf.quick_form(form) }}
                          <input type="button" class="king-btn mr10 king-success" onclick="rollback()" value="回滚" />

                        </div>
                    </div>
                </div>
                
            {% if resversion_result %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>执行过程</h5>
                        </div>
                        <div class="ibox-content">
                        <!-- <textarea style="margin: 0px 0px 10px; height: 500px; width: 650px; font-family:-webkit-body;background-color: black;color: green"> -->
                        <textarea style="outline: none; background-color: rgb(0, 0, 0); color: rgb(240, 240, 240); height: 500px; width: 650px; font-family:-webkit-body;">
                        
------ Action Start ------
{{ input_result }}
{{ resversion_result }}
{{ resversion_result_oncbt }}
------ Action End   ------
数据版本已自动升级...
</textarea>  
                        </div>
                    </div>

                </div>

            </div>
            {% endif %}
        </div>
    </div>



  
    <script>
             $('#test3').on('click', function() {
                  var csrftoken = $('meta[name=csrf-token]').attr('content')
                  $.ajaxSetup({
                      beforeSend: function(xhr, settings) {
                          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                              xhr.setRequestHeader("X-CSRFToken", csrftoken)
                          }
                      }
                  })
                 
                 $.ajax({
                     url: "{{ url_for('task.execute_task',update_env='update_cbt_resource' ) }}",
                     type: "post",
                     success: function (res) {
                        if (res.result){
                              console.log('success')
                         }
                        else{
                            swal(res.message,':)','error');
                         }
                         
                         task_id = res.data["task_id"];
                         task_status = res.data["task_status"];
                         
                         if (task_id) {
                          layer.msg("任务已在后台执行....请勿刷新此页面");
                              // 将本次task的进度展示区域展示在id=bar_show_area的div区域（append）
                              // 进度条绑定区域
                              $('#ct-chart1').append("<input type='button' onclick='cancel_task(this)' value='取消任务' class='btn  btn-info'" + " task_id=" + task_id  +  ">")  
                              $("#task_id_start").html("<img " + "alt='loadding' src='https://magicbox.bk.tencent.com/static_api/v3/components/loading2/gif/reload_36.gif'>"  + "<br>【任务开始】task id: " + task_id)
                              $("#processbar").append("<span id='"+task_id+"_span' style='float:left'></span><div id='"+task_id+"'></div><div>");

                              // 创建进度条对象
                              var nanobar = new Nanobar({target:document.getElementById(task_id)});
                              update_g(task_id,nanobar);
                              //layer.msg("任务已在后台执行....请勿刷新此页面");
                              // swal("任务id为:" + task_id + "\n状态:"+task_status);
                         }
                         else {
                             swal("res.message",':)','error');
                         }
                     }
                     
                 });

                 function update_g(task_id,nanobar) {
                   var data= {
                      data: JSON.stringify({
                          'task_id': task_id
                      }),
                  }
                  $.ajax({
                     type: 'POST',
                     data: data,
                     dataType: 'json',
                     url: "{{ url_for('task.task_result') }}",
                     success:function (res) {
                        percent = parseInt(res['progress']);
                        result_data = res['result_data']
                        nanobar.go(percent);
                       if (res['state'] == 'success') {
                            // 有的时候会出现走不完的情况，所以先清空，在直接填充
                            $("#" + task_id + "_span").empty();
                            //$("#" + task_id + "_span").append(percent + '%' + ' 完成');
                            //$("#" + task_id).parent().css("background", "#1ab394"); //任务完成后
                            $("#task_id_end").html("【任务结束】task id: " + task_id)
                            swal("cbt热更完毕执行完毕！\n 热更版本版本号为:\n " + result_data)
                            }
                      
                      else if (res['state'] == 'revoke') {
                            layer.msg('任务已经取消成功！')
                            $("#task_id_start").remove()
                            }
                            else {
                              $("#" + task_id + "_span").html(percent+"% 完成");
                              $("#processbar").attr("style", "width:"+percent+"%");

                              setTimeout(function () {
                                update_g(task_id, nanobar);
                            }, 2000);
                        }
                     }
                 });
            }
        })

    </script> 
    <!-- 取消任务 -->
    <script>
     function cancel_task(_this) {
      var csrftoken = $('meta[name=csrf-token]').attr('content')
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
        var task_id = $(_this).attr("task_id");
        var data= {
                data: JSON.stringify({
                    'task_id': task_id
                }),
            }
        // console.log(task_id)    
        swal({
          title: "您确定要取消该任务？",
          text: "取消任务后将会停止执行，请谨慎操作！",
          type: "warning",

          showCancelButton: true,
          showLoaderOnConfirm: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "是的, 取消它",
          cancelButtonText: "我在想想吧...",
          closeOnConfirm: false,
          closeOnCancel: true  //关闭取消后还弹出让你确认的效果提示
        },
          function(isConfirm){
          if (isConfirm) {    // 如果确认就会去携带者hostname去后台处理
            $.ajax ({
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    url: "{{ url_for('task.cancel_task') }}",
                    success:function(res){   //将处理的结果进行判断，根据执行失败，成功现实的提示不同的内容
                        if (res.result) {
                            // console.log(res)

                            // $("input[check_id="+check_id+"]").parents("tr").remove(); //获取要删除的那行节点
                            // $(_this).parents("tr").remove();
                             swal(res.message, "^o^.", "success");
                            //location.reload()
                        }
                        else {
                            // console.log(res)
                            swal(res.message, ":)", "error");
                        }
                    }
                });
          }
        });
    }
    </script>
    <script>
        function rollback() {
              var csrftoken = $('meta[name=csrf-token]').attr('content')
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            })
            swal({
          title: "您确定要执行CBT配置回滚操作",
          // text: "执行后将进入维护状态，请谨慎操作！",
          type: "warning",

          showCancelButton: true,
          showLoaderOnConfirm: true,

          confirmButtonColor: "#DD6B55",
          confirmButtonText: "是的，回滚",
          cancelButtonText: "我在想想吧...",
          closeOnConfirm: false,
          closeOnCancel: true  //关闭取消后还弹出让你确认的效果提示
        },
          function(isConfirm){
          if (isConfirm) {
            $.ajax ({
                type:'POST',
                //url:"http://127.0.0.1:5000/rollback",
                url:"http://cbtops.jp.warshipgirls.com/rollback",
                
                 success: function(res) {
                     if (res.result) {
                        //layer.msg('success')
                        
                        swal({
                          title: res.message,
                          // timer: 5500,
                          imageUrl: "{{  url_for('static',filename='main/img/thumbs-up.jpg') }}",
                          // showConfirmButton: false
                        });

                     }
                     else{
                         swal({
                          title: res.message,
                          //timer: 5500,
                          imageUrl: "{{  url_for('static',filename='main/img/thumbs-up.jpg') }}",
                          //showConfirmButton: false
                        });
                     }
                    }
                });
        }
      });
    }
    </script> 
{% endblock %}

