{% extends 'base.html' %}
{% block title %}账户管理{% endblock %}
{% block content %}
<script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/jquery.dataTables.js') }}"></script>
<script src="{{  url_for('static',filename='opsplatform/js/dataTables.bootstrap.js') }}"></script>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>账户管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url_for('main.index')}}">Home</a>
                </li>

                <li class="active">
                    <strong>用户管理</strong>
                </li>
            </ol>
        </div>

    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
     
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户列表</h5>
                    </div>
                    <div class="ibox-content">
                      <table id="table2_demo2" class="table table-bordered table-hover">

                          <thead>
                              <tr>

                                 <th>#</th>
                                 <th>用户名</th>
                                 <th>角色</th>
                                 <th>邮箱</th>
                                 <th>状态</th>
                                 <th>创建时间</th>
                                 <th>操作</th>
                              </tr>

                          </thead>
                        <tbody>
                        {% for each_data in data %}
                                  <tr>
                                      <td>{{ loop.index }}</td>
                                      {% if each_data.name %}
                                      <td>{{ each_data.name }}</td>
                                      {% else %}
                                      <td>{{ each_data.username }}</td>
                                      {% endif %}
                                      {% if each_data.role_id != 2 %}
                                        <td>普通用户</td>
                                      {% else %}
                                        <td style="color:red">管理员</td>
                                      {% endif %}
                                      <td><a href="mailto:{{ each_data.email }}">{{ each_data.email }}</a></td>

                                      {% if each_data.confirmed %}
                                        <td style="color:green" title="已激活用户">已激活</td>
                                      {% else %}
                                        <td style="color:red" title="请用户登录邮箱进行确认">未激活</td>
                                      {% endif %}

                                      <td>{{ each_data.member_since }}</td>
                                      <td>
                                          <input type="button" class="btn btn-xs btn-info"  check_id="{{ each_data.id }}"  value="编辑" onclick="window.location.href='{{ url_for('.edit_profile_admin',id=each_data.id)}}'">
                                          {% if each_data.role_id != 2 %}
                                          <input type="button" class="btn btn-xs btn-danger" check_id="{{ each_data.id }}" value="删除" onclick="delet_user(this)">
                                          {% endif %}
                                      </td>
                                  </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
               <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户添加</h5>
                    </div>
                    <div class="ibox-content">
             {% import "bootstrap/wtf.html" as wtf %}
                {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
          </div>
    </div>
    <!-- 删除api信息 -->
    <script>
     function delet_user(_this) {
            var csrftoken = $('meta[name=csrf-token]').attr('content')
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
        var check_id = $(_this).attr("check_id");
        var data= {
                data: JSON.stringify({
                    'check_id': check_id
                }),
            }

        swal({
          title: "您确定要删除该用户？",
          text: "删除后需要重新注册，请谨慎操作！",
          type: "warning",

          showCancelButton: true,
          showLoaderOnConfirm: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "是的，删除它",
          cancelButtonText: "我在想想吧...",
          closeOnConfirm: false,
          closeOnCancel: true  //关闭取消后还弹出让你确认的效果提示
        },
          function(isConfirm){
          if (isConfirm) {    // 如果确认就会去携带者hostname去后台处理
            $.ajax ({
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    url: "{{ url_for('auth.delete_user') }}",
                    success:function(res){   //将处理的结果进行判断，根据执行失败，成功现实的提示不同的内容
                        if (res.result) {
                            //console.log(res)

                            $("input[check_id="+check_id+"]").parents("tr").remove(); //获取要删除的那行节点
                            $(_this).parents("tr").remove();
                            swal(res.message, "^o^.", "success");
                            //location.reload()
                        }
                        else {
                            //console.log(res)
                            swal(res.message, ":)", "error");
                        }
                    }
                });
          }
        });
    }
    </script>
{% endblock %}
